{% extends "layout.html" %}

{% block title %}
    Word Guess Game
{% endblock %}

{% block main %}
    <div class="container py-5 text-center">
        <form action="/" method="post">
            <div class="container py-1 text-center">
                <label><b>Word length</b></label>
                <br>
                <input class="wordlength" name="word_length" placeholder="Optional" type="number" min="3" max="9">
            </div>
            <div class="container py-5 text-center">
                <button class="btn btn-primary" type="submit">Generate word</button>
            </div>
        </form>
    </div>
    <div class="container py-1 text-center">
        <label class="guess"></lable>
    </div>
    <div class="container py-5 text-center flag"></div>
    <div class="flexbox-container container" id="letter-list">
        <form action="submit" method="post">
            {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
                <button class="flexbox-item" name="letter" type="submit" value="{{ letter }}">{{ letter | upper }}</button>
            {% endfor %}
        </form>

    </div>
    {% if word %}
        <script>
            let guessing = "_ ".repeat({{ word | length }});
            document.querySelector(".guess").innerHTML = guessing;
            // {% if letters %}
            //     {{ letters }}
            // {% endif %}
        </script>

    {% endif %}
        <!-- <script>
            let length = {{ word | length }};
            let guessWord = '{{ word }}';
            let guessWordArray = guessWord.split("");
            // insert an empty space to seperate the letter
            let guessing = "_ ".repeat(length);
            let guessingArray = guessing.split("");
            document.querySelector(".guess").innerHTML = guessing;

            let elements = document.getElementsByClassName("flexbox-item");
            let count = 0;
            for (let i = 0; i < elements.length; i++) {
                elements[i].addEventListener("click", function() {
                    let indices = [];
                    let char = this.innerHTML.toLowerCase();
                    let index = guessWord.indexOf(char);
                    while (index !== -1) {
                        indices.push(index);
                        index = guessWord.indexOf(char, index + 1);
                    }
                    if (indices.length > 0) {
                        this.classList.toggle("highlight-blue");
                    } else {
                        this.classList.toggle("highlight-red");
                    }
                    for (index of indices) {
                        guessingArray[index * 2] = guessWordArray[index];
                    }
                    guessing = guessingArray.join("");
                    document.querySelector(".guess").innerHTML = guessing;
                    // to provent further clicks
                    this.removeEventListener("click", arguments.callee);
                    // '_' not in the array indicates the user won the game
                    if (!guessingArray.includes("_")) {
                        document.querySelector(".flag").innerHTML = "You Got It!";
                    }
                    count++;
                    console.log(count);
                });
            }
            if (count === 7) {
                document.querySelector(".flag").innerHTML = "The word was " + guessWord;
            }

        </script> -->

{% endblock %}